<div class="container">
  <h1 class="page-header text-center">{{title}}</h1>
   <div id="row">
     <ul>
       {{#each answer in answers}}
         <li>{{#link-to 'answer' answer.id}}{{answer.description}}{{/link-to}}</li>
       {{/each}}
     </ul>
   </div>
   <div class="text-center">
     {{#link-to 'new-answer' classNames="btn btn-primary"}}Add an Answer{{/link-to}}
   </div>
</div>

{{outlet}}
